.footer {
  background-color: $color-grey;
  padding: 40px 0 20px;

  &__list {
    display: flex;
    justify-content: center;

    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    font-size: 20px;
    color: $color-white;
    margin: 0 20px;
    background-color: $color-grey;
    letter-spacing: 3px;
    transition: all 0.2s;
    @include lg-min {
      padding: 3px 30px;
    }
    @include lg-md {
      padding: 3px 20px;
      margin: 0 10px;
    }
    @include md {
      padding: 3px 20px;
      margin: 10px 0;
    }
    &:hover {
      transform: rotate(-10deg);
      box-shadow: 0 20px 30px $color-black;
    }
  }

  &__text {
    text-align: center;
    font-size: 15px;
    color: $color-secondary;
    letter-spacing: 2px;
    margin-top: 50px;
  }
}