/* xxl */
/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  background-color: #eeeeee;
  margin: 35px;
  -webkit-box-shadow: 0 10px 30px #555555;
          box-shadow: 0 10px 30px #555555;
  overflow: hidden;
}

.wrapper_img {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: calc(100vh - 70px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 113, 255, 0.5)), to(rgba(18, 113, 255, 0.3)));
  background: -o-linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3));
  background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.header-content {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 4px #555555;
}

.header-content__title {
  font-size: 80px;
  color: #ffffff;
}

.header-content__text {
  font-size: 30px;
  font-weight: 500;
  color: #eeeeee;
  max-width: 700px;
  margin: auto;
}

.header-content__img {
  width: 35%;
  -webkit-animation-name: image-float;
          animation-name: image-float;
  -webkit-animation-duration: 150s;
          animation-duration: 150s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-logo {
  position: absolute;
  top: 40px;
  right: 40px;
}

.header-logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo__title span {
  font-size: 20px;
  font-weight: 900;
  color: #2b81e4;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 50%;
}

.header-logo__title span:nth-child(1) {
  -webkit-animation-name: drop-letters;
          animation-name: drop-letters;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-logo__title span:nth-child(2) {
  -webkit-animation-name: drop-letters;
          animation-name: drop-letters;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-logo__title span:nth-child(3) {
  -webkit-animation-name: drop-letters;
          animation-name: drop-letters;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-logo__title span:nth-child(4) {
  -webkit-animation-name: drop-letters;
          animation-name: drop-letters;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-logo__title span:nth-child(5) {
  -webkit-animation-name: drop-letters;
          animation-name: drop-letters;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-logo__title span:nth-child(6) {
  -webkit-animation-name: drop-letters;
          animation-name: drop-letters;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-logo__title span:nth-child(7) {
  -webkit-animation-name: drop-letters;
          animation-name: drop-letters;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes drop-letters {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes drop-letters {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes image-float {
  0% {
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateZ(-5000px) translateX(1500px);
            transform: translateZ(-5000px) translateX(1500px);
    opacity: 0.8;
  }
  70% {
    -webkit-transform: translateZ(-1500px) translateX(8000px);
            transform: translateZ(-1500px) translateX(8000px);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateZ(-500px) translateX(1000px);
            transform: translateZ(-500px) translateX(1000px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 1;
  }
}

@keyframes image-float {
  0% {
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateZ(-5000px) translateX(1500px);
            transform: translateZ(-5000px) translateX(1500px);
    opacity: 0.8;
  }
  70% {
    -webkit-transform: translateZ(-1500px) translateX(8000px);
            transform: translateZ(-1500px) translateX(8000px);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateZ(-500px) translateX(1000px);
            transform: translateZ(-500px) translateX(1000px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 1;
  }
}

.popular {
  padding: 50px 0 100px;
}

.popular__title {
  font-size: 80px;
  text-align: center;
  color: #2b81e4;
  margin-bottom: 80px;
  text-shadow: 0px 1px #2b81e4;
}

.popular-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.popular-content__cards {
  width: 350px;
  position: relative;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.popular-front {
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
  z-index: 10;
  opacity: 0.9;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s, -webkit-box-shadow 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s, -webkit-box-shadow 0.4s;
  -o-transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s, -webkit-transform 0.4s, -webkit-box-shadow 0.4s;
}

.popular-front__image {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.popular-front__title {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 10px #000000;
  position: absolute;
  top: 180px;
  right: 20px;
}

.popular-front__list {
  width: 80%;
  margin: auto;
  padding: 20px 0 30px;
}

.popular-front__item {
  font-weight: 500;
  color: #777777;
  margin: 20px 0;
  border-bottom: 1px solid #2b81e4;
  padding-bottom: 15px;
}

.popular-back {
  position: absolute;
  top: 0;
  background-color: #2b81e4;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 20px 40px #777777;
          box-shadow: 0 20px 40px #777777;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateZ(-50px) translateX(30px);
          transform: translateZ(-50px) translateX(30px);
  opacity: 0.5;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s, -webkit-box-shadow 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s, -webkit-box-shadow 0.4s;
  -o-transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s, -webkit-transform 0.4s, -webkit-box-shadow 0.4s;
}

.popular-back__price {
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 30px;
}

.popular-back__btn {
  color: #2b81e4;
  background-color: #ffffff;
  border: none;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
}

.navigation-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #777777;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.change > .popular-front {
  -webkit-transform: translateZ(-50px) translateX(30px);
          transform: translateZ(-50px) translateX(30px);
  -webkit-box-shadow: 0 20px 40px #777777;
          box-shadow: 0 20px 40px #777777;
  opacity: 0.5;
  z-index: 0;
}

.change > .popular-back {
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
  -webkit-box-shadow: 0 5px 20px #aaa;
          box-shadow: 0 5px 20px #aaa;
  opacity: 0.9;
}

.stories {
  padding: 100px 0;
  position: relative;
}

.stories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories-wrapper__bg {
  background-color: rgba(238, 238, 238, 0.8);
  padding: 50px;
  margin: 50px;
  width: 70%;
  -webkit-box-shadow: 0 20px 50px rgba(51, 51, 51, 0.4);
          box-shadow: 0 20px 50px rgba(51, 51, 51, 0.4);
  -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
          transform: skewX(20deg);
}

.stories-block {
  -webkit-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
          transform: skewX(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories-block__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 50px;
}

.stories-content {
  letter-spacing: 1px;
}

.stories-content__title {
  font-size: 25px;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 10px;
}

.stories-content__text {
  font-size: 18px;
  color: #777777;
}

.stories-content__text::first-letter {
  margin-left: 10px;
}

.container-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.container-video__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  padding: 150px 0 200px;
  text-align: center;
  background: url(../img/contact-us-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: contact-bg 35s infinite;
          animation: contact-bg 35s infinite;
}

.contact__title {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 10px 20px #000000;
}

.contact__form {
  width: 700px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px #000000;
          box-shadow: 0 10px 30px #000000;
  padding: 50px;
}

.contact__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  position: relative;
}

.contact__input label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555555;
  position: absolute;
  top: 10px;
  left: 10px;
}

.contact__input textarea {
  max-width: 100%;
  max-height: 150px;
}

.contact__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__inputs .contact__input {
  width: 48.5%;
}

.contact__btn {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
  margin-top: 10px;
  background-color: #777777;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact__btn:hover {
  background-color: #555555;
}

.contact__input input,
.contact__input textarea {
  padding: 30px 10px 10px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  font-size: 14px;
  color: #777777;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.contact__input input:focus,
.contact__input textarea:focus {
  border: 1px solid #ccc;
}

@-webkit-keyframes contact-bg {
  0% {
    background-color: #3d3d3d;
  }
  25% {
    background-color: #ced834;
  }
  50% {
    background-color: #1e81f3;
  }
  75% {
    background-color: #ff7842;
  }
  100% {
    background-color: #3d3d3d;
  }
}

@keyframes contact-bg {
  0% {
    background-color: #3d3d3d;
  }
  25% {
    background-color: #ced834;
  }
  50% {
    background-color: #1e81f3;
  }
  75% {
    background-color: #ff7842;
  }
  100% {
    background-color: #3d3d3d;
  }
}
